.sideBar {
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    position: fixed;
    z-index: 2;
    background: #000000b5;
    backdrop-filter: blur(8px);
    transition: all ease-in-out 1s;
}

.sidebarActive {
    left: 0;

}