@use './colors.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    background: colors.$main-background;
}

.text-primary {
    color: colors.$primary-color;
    fill: colors.$primary-color;
}

.text-secondary {
    color: colors.$secondary-color;
    fill: colors.$secondary-color;
}

.main-background {
    background: colors.$main-background;
}

.main-foreground{
    background: colors.$secondary-color;
}

.swiper-pagination-bullet-active{
    background: colors.$secondary-color !important;
}