@tailwind base;
@tailwind components;
@tailwind utilities;

$main-background: #000;
$primaty-color: #fff;
$secondary-color: #ECD690;

body {
    background: $main-background;
}

.text-primary {
    color: $primaty-color;
    fill: $primaty-color;
}

.text-secondary {
    color: $secondary-color;
    fill: $secondary-color;
}

.main-background {
    background: $main-background;
}

.main-foreground{
    background: $secondary-color;
}

.swiper-pagination-bullet-active{
    background: $secondary-color !important;
}